<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="styles.css">
<title>Insert title here</title>
</head>
<body>

	<h2>Cadastrar livro</h2>
	<form method="POST" action="/livros/cadastro" class="container">
		<div>
		Nome: <input name="titulo" placeholder="Nome do livro">
		Autor: <input name="autor" placeholder="Nome do livro">
		Valor: <input name="valor" placeholder="Nome do livro">
		</div>
	
		<label for="categorias">Escolha uma categoria de livro: </label>
		<select  name="categoria" id="categoria">
		  <option data-th-each="categoria : ${categorias}" th:value="${categoria.categoria}" th:text="${categoria.categoria}"></option>
		</select>
		<button type="submit">AdicionarLivro</button>
	</form>
	<br/>
	<br/>
	<br/>
	
	
	
	<h2>Editar livro</h2>
	
	
	<form method="POST" th:action="@{|/livros/editar|}" class="container">
		<div>
			Codigo do livro: <input name="codlivro"  placeholder="Codigo do livro">
			
			Nome: <input name="titulo" placeholder="Nome do livro">
			Autor: <input name="autor" placeholder="Nome do livro">
			Valor: <input name="valor" placeholder="Nome do livro">
			
			<label for="categorias">Escolha uma categoria de livro: </label>y
			<select  name="categoria" id="categoria">
			  <option data-th-each="categoria : ${categorias}" th:value="${categoria.categoria}" th:text="${categoria.categoria}"></option>
			</select>
			
		</div>
	
		<button type="submit">Editar livro</button>
	</form>
	
	<br/>
	<br/>
	<br/>
	
	<h2>Excluir livro</h2>
	
	
	<form method="POST" th:action="@{|/livros/excluir|}" class="container">
		<div>
			Codigo do livro: <input name="codlivro"  placeholder="Codigo do livro">
		</div>
	
		<button type="submit">Excluir livro</button>
	</form>
</body>
</html>