<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
<meta charset="UTF-8">
<title>Pagina inicial</title>
<link >
</head>
<body>

	<header class="header-container">
		<h2>Biblioteca</h2>
		<ul class="header-list">
			<a th:href="@{/livros}"><li>Livros por categoria</li></a>
			<a th:href="@{/livro/cadastrar}"><li>Cadastrar livro</li></a>
			<a th:href="@{/livros/buscar}"><li>Procurar livro</li></a>
		</ul>
	</header>
</body>
</html>